@import '../../../../styles/base/_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import '../../Link/Link.module.scss';

.menu {
  @extend .shadow;
  display: flex;
  flex-direction: column;
  background-color: $light;
  color: $dark;

  & a {
    @extend .link-menu;
  }

  &-left {
    align-items: center;
    height: 100%;
    padding: 1rem 0.5rem;

    & a:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &-top {
    width: 100vw;
    height: 20%;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
