html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: white;
}

input[type='text'],
select:focus {
  font-size: 18px !important;
}

:focus {
  outline: var(--primary) auto 2px;
}