@import '../../../styles/base/_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

.btn {
  @extend .btn;
  padding: 0.2rem 0.7rem;
  transition: all 0.2s;
  font-weight: 300;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  font-family: inherit;

  &:hover:not(:disabled) {
    transform: scale(1.02);
  }

  &-secondary:hover {
    color: $white;
  }

  &-menutoggle {
    font-weight: 600;
    background-color: $white;
    color: $primary;
    padding: 0rem 0.4rem;
    font-size: 1.3rem;
  }

  &-small {
    padding: 0rem 0.4rem;
    min-height: 0rem;
    font-size: 0.8rem;
  }

  &-xsmall {
    padding: 0rem 0.3rem;
    min-height: 0rem;
    font-size: 0.7rem;
  }
}
