@import '../../../styles/base/_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

.dropdown-container {
  padding: 0.75rem 0.5rem 0rem 0.5rem;

  &__label {
    font-size: 0.9rem;
    color: $secondary;
    font-weight: bold;
    color: $dark;
    letter-spacing: 0.25px;
    margin-bottom: 0.25rem;
  }
}
