.center-tile {
  color: white;
  border-radius: 1rem;
  padding: 1rem 3rem 4rem 3rem;
  margin: 1rem 1.5rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.center-tile h4 {
  width: 100%;
  padding: 0.8rem;
  border-bottom: 0.5px solid white;
  text-align: center;
}

.center-tile__dropdown {
  margin-top: 2.5rem;
}

.center-tile__button {
  margin-top: 5.5rem;
}

.hero-image {
  background: url('./nick-karvounis-1233676-unsplash.jpg') center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
